<div class="bg-img">
    <div class="row intro bg-text">
        <div class="col col-end">
            <h2>THE COMMUNITY</h2>
            <p>Find Solutions, Ask Questions, Share Ideas, <br> Connect with users across the world</p>
        </div>
    </div>
    <div class="row col-center statistic">
        <div class="col-30 right">
            <i class="fa fa-users icon" aria-hidden="true"></i>Users {{users}}
        </div>
        <div class="col-30">
            <i class="fa fa-comments-o icon" aria-hidden="true"></i>Posts {{reviews}}
        </div>
        <div class="col-30 left">
            <i class="fa fa-tags icon" aria-hidden="true"></i>Products {{products}}
        </div>
    </div>
</div>